body, html {
    font-family:arial,sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px; padding: 0px; border: none;
    overflow: scroll;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    margin: 1.12em 0;
}

h1 {
    background: #003a9e no-repeat right top;
    font-size: 1.8em;
    font-weight: 50;
    letter-spacing: 1px;
    line-height: 1.8;
    padding: 5px;
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FFFFFF;
    height: 50px;
    display: block;
}

.contents h2 {
    background: #008D7b no-repeat left top;
    font-size: 120%;
    font-weight: 60;
    letter-spacing: 1px;
    line-height: 1.8;
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom:15px;
    color: #FFFFFF;
    height: 30px;
}

.contents h2 span {
    border-bottom: 0.2em solid #000;
}

.contents h3 {
    font-size: 100%;
    font-weight: bold;
    color: #008B12;
    margin: 7px 0px;
}

.label {
    margin: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
}

ul.menu {
    font-size: 100%;
    margin: 5px;
    padding: 3px;
    text-indent: 5px;
    list-style: none;
    overflow: auto;
    border-right: solid 1px black
}

ul.menu a {
    color: #8E8E8E;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration:none;
    padding-bottom:5px;
    border-bottom: 1px dashed #008B88;
    display: block;
    width: 100%;
}

ul.menu .itemselected, ul.menu .itemselected a, ul.menu .itemselected a {
    color: #005355;
}

ul.menu .item, ul.menu a.item, ul.menu .item a {
    color: #8E8E8E;
    text-decoration: none;
    font-size: 100%;
}

ul.menu a:hover, ul.menu .item a:hover {
    color: #000991;
    text-decoration: none;
    display:block
}

ul.submenu {
    margin-left: 15px;
    padding-bottom: 0px;
    width: 250;
    border-right: 3px;
    display:none
}

.itemselected ul.submenu {
    display: block;
}

ul.submenu li {
    padding-top: 4px;
}

ul.submenu li a {
    padding-bottom: 0px;
}

span.title {
    font-size: 150%;
    font-weight: bold;
    color: #008B77;
}

